version: '3'
services:
  keycloak-biopatternsg:
    image: bitnami/keycloak:23.0.7
    container_name: keycloak-biopatternsg
    command: start-dev
    environment:
      # --- Configuración de Base de Datos ---
      KC_DB: postgres

      # 1. Apuntamos a la base de datos 'kairos'
      # 2. Agregamos '?currentSchema=keycloak' para forzar al driver JDBC a usar ese esquema
      KC_DB_URL: jdbc:postgresql://biopatternsg-postgres:5432/biopatternsg?currentSchema=keycloak

      # Explicitamos el schema para Keycloak
      KC_DB_SCHEMA: keycloak

      # Credenciales de tu Postgres existente
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}

      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_BACKCHANNEL: "false"
      
      # --- Configuración de Seguridad y Admin ---
      KC_HTTP_ENABLED: "true" 
      KEYCLOAK_ADMIN: ${KC_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KC_PASSWORD}

    ports:
      - "8005:8080"
    networks:
      - general-network

networks:
  general-network:
    external: true